# SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

VITE_METADATA_URL=https://tourism.api.opendatahub.testingmachine.eu/v1/MetaData?pagesize=1000&origin=interactive-dashboard
VITE_N8N_WEBHOOK_URL=http://localhost:5678/webhook/data-quality
VITE_PAGE_SIZE=1000

# Keycloak Configuration
VITE_KEYCLOAK_URL=https://auth.opendatahub.testingmachine.eu/auth
VITE_KEYCLOAK_REALM=noi
VITE_KEYCLOAK_CLIENT_ID=n8n
# VITE_KEYCLOAK_REDIRECT_URI=http://localhost:5173/silent-check-sso.html

# Base Path for deployment (e.g. / or /dashboard/)
VITE_BASE_PATH=/
